<ion-view view-title="Profile">
  
  <ion-content class="" scroll="false">
    <div class="topFix" style="background-color: rgba(255, 118, 0, 0.58);">
      <div class="padding">
        <div class="row subheaderLinking">
          <div class="col">Hiking</div>
          <div class="col">Biking</div>
          <div class="col">Climbing</div>
        </div>
      </div>
      <div class="mainPhoto padding50TB">
        <div class="row imgBg">
          <div class="col"></div>
          <div class="col">
            <figure class="alignCenter imgBg">
              <img class="pfImage" src="img/ionic.png">
            </figure>
          </div>
          <div class="col"></div>
        </div>
      </div>
    </div>
    <ion-scroll>
      <div class="row subheaderLinking noBorder padding50TB">
        <div class="col">
          <p></p>
          <button class="button ion-android-share-alt buttonMainPage royal">
            <!-- <i class="icon " style="font-size: 30px;"></i> -->
          </button>
          <!-- <p>
            <i class="icon ion-android-share-alt" style="font-size: 30px;"></i>
          </p> -->
        </div>
        <div class="col noBorder">
          <h4>John Doe</h4>
          <p>
            <b>Warsaw - </b> 25 Years Old
          </p>
        </div>
        <div class="col">
          <p></p>
          <button class="button button-icon ion-ios-heart-outline buttonMainPage calm">
            <!-- <i class="icon " style="font-size: 30px;"></i> -->
          </button>
        </div>
      </div>
      <br><br><br>
      <div class="alignCenter">
        <div class="row buttonsRow">
          <div class="col">
            <button class="button button-icon contenButtons">
            <i class="icon ion-ios-people-outline"></i><br>
              Groups
            </button>
          </div>
          <div class="col">
            <button class="button button-icon contenButtons">
            <i class="icon ion-ios-personadd-outline"></i><br>
              Add Members
            </button>
          </div>
        </div>
        <div class="row buttonsRow" style="border-top: 0px">
          <div class="col">
            <button class="button button-icon contenButtons">
            <i class="icon ion-ios-calendar-outline"></i><br>
              Groups
            </button>
          </div>
          <div class="col">
            <button class="button button-icon contenButtons">
            <i class="icon ion-ios-photos-outline"></i><br>
              Add Members
            </button>
          </div>
        </div>
      </div>
    </ion-scroll>
  </ion-content>
</ion-view>
